<div class="posContainer">
  <div class="container productsContainer">
    <div class="row mt-5 title-wrapper">
      <h2 class="title">iPos Plus+</h2>
    </div>
    <div class="row addBtn">
      <form action="/products/new" method="get" class="addForm">
        <button type="submit" class="btn addBtn "
          style="border-radius: 10px;">
          <i class="fas fa-plus-square fa-lg"></i>
        </button>
      </form>
    </div>
    <div class="row">
      <h4>蛋糕</h4>
    </div>
    <div class="row mt-3 col-12" id="cakeMenu" data-toggle="buttons">
      {{#each cakeItem}}
      <div class="card mr-3 mb-3" style="width: 15rem; border-radius:10px;background:#ecf0f3;">
        <img src="{{this.url}}" class="card-img-top" alt="cake"
          style="display:block;max-height:90%; border-radius:10px" />
        <div style="display: flex;justify-content:flex-end;">
          <form action="/products/{{this._id}}/edit" method="get" class="editForm">
            <button type="submit" class="btn editBtn"
              style="display: flex; justify-content:center; align-items:center; ">
              <i class="fas fa-edit"></i>
            </button>
          </form>
          <form action="/products/{{this._id}}/delete" method="POST" class="deleteForm">
            <button type="submit" class="btn deleteBtn"
              style="display: flex; justify-content:center; align-items:center;">
              <i class="fas fa-trash-alt"></i>
            </button>
          </form>
        </div>
        <div class="card-body"
          style="display:flex;align-items:center;justify-content:space-around;padding:2px 8px 8px 8px;">
          <div class="btn-group btn-group-toggle product-name-button" data-id="{{this._id}}">
            <label class="btn btn-outline-dark productLabel" style="border: none;width:120%;"><input type="radio" name="productCheckbox" value="{{this.amount}}" class="productCheckbox" id="productCheckbox" />{{this.name}}</label>    
          </div>
          <span class="text-center">${{this.amount}}</span>

        </div>
      </div>
      {{/each}}
    </div>
  
    <div class="row mt-3">
      <h4>飲品</h4>
    </div>
    <div class="row mt-3 col-12" id="drinkMenu" data-toggle="buttons">
      {{#each drinkItem}}
      <div class="card mr-3 mb-3" style="width: 15rem; border-radius:10px;background:#ecf0f3">
        <img src="{{this.url}}" class="card-img-top" alt="cake"
          style="display:block;max-height:90%;border-radius:10px;" />
        <div style="display: flex;justify-content:flex-end;">
          <form action="/products/{{this._id}}/edit" method="get" class="editForm">
            <button type="submit" class="btn editBtn"
              style="display: flex; justify-content:center; align-items:center;">
              <i class="fas fa-edit"></i>
            </button>
          </form>
          <form action="/products/{{this._id}}/delete" method="POST" class="deleteForm">
            <button type="submit" class="btn deleteBtn"
              style="display: flex; justify-content:center; align-items:center;">
              <i class="fas fa-trash-alt"></i>
            </button>
          </form>
        </div>
  
        <div class="card-body"
          style="display:flex;align-items:center;justify-content:space-around;padding:2px 8px 8px 8px;">
          <div class="btn-group btn-group-toggle product-name-button" data-id="{{this._id}}">
            <label class="btn btn-outline-dark productLabel" style="border: none;width:120%;"><input type="radio" name="productCheckbox" value="{{this.amount}}" data-id="{{this._id}}" class="productCheckbox" />{{this.name}}</label>

          </div>
          <span class="text-center">$ {{this.amount}}</span>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  
  <div class="container tableContainer" style="display:flex;">
    <div class="row tableNums" data-toggle="buttons">
      <h4 class="mt-2">桌次</h4>
      <section class="table mt-3">
        <div class="btn-group-toggle tableButtons">
          <label class="btn btn-outline-secondary mr-1 tableNumber" style="border-radius: 10px;"><input class="tableNum" type="radio" name="table" value="1"/>
            1</label>
          <label class="btn btn-outline-secondary mr-1 tableNumber" style="border-radius: 10px;"><input class="tableNum" type="radio" name="table" value="2" />
            2</label>
          <label class="btn btn-outline-secondary mr-1 tableNumber" style="border-radius: 10px;"><input class="tableNum" type="radio" name="table" value="3" />
            3</label>
          <label class="btn btn-outline-secondary mr-1 tableNumber" style="border-radius: 10px;"><input class="tableNum" type="radio" name="table" value="4" />
            4</label>
          <label class="btn btn-outline-secondary mr-1 tableNumber" style="border-radius: 10px;"><input class="tableNum" type="radio" name="table" value="5" />
            5</label>
          <label class="btn btn-outline-secondary mr-1 tableNumber" style="border-radius: 10px;"><input class="tableNum" type="radio" name="table" value="6" />
            6</label>
        </div>
      </section>
    </div>
    <div class="row" data-toggle="buttons">
      <h4 class="mt-2">數量</h4>
      <section class="table mt-3">
        <div class="btn-group-toggle quantityButtons">
          <label class="btn btn-outline-info mr-1 quantityNumbers" style="border-radius: 10px;"><input class="quantity" type="radio" name="quantity" value="1" />
            1</label>
          <label class="btn btn-outline-info mr-1 quantityNumbers" style="border-radius: 10px;"><input class="quantity" type="radio" name="quantity" value="2" />
            2</label>
          <label class="btn btn-outline-info mr-1 quantityNumbers" style="border-radius: 10px;"><input class="quantity" type="radio" name="quantity" value="3" />
            3</label>
          <label class="btn btn-outline-info mr-1 quantityNumbers" style="border-radius: 10px;"><input class="quantity" type="radio" name="quantity" value="4" />
            4</label>
          <label class="btn btn-outline-info mr-1 quantityNumbers" style="border-radius: 10px;"><input class="quantity" type="radio" name="quantity" value="5" />
            5</label>
          <label class="btn btn-outline-info mr-1 quantityNumbers" style="border-radius: 10px;"><input class="quantity" type="radio" name="quantity" value="6" />
            6</label>
        </div>
      </section>
    </div>
  </div>
  
  <div class="container calculateContainer">
    <div class="row mt-4">
      <h4 class="detail">消費明細</h4>
      <table class="table mt-3">
        <thead>
          <tr class="list" style="text-align: center;">
            <th class="headName">品名</th>
            <th class="headNumbers">數量</th>
            <th class="headAmount">金額</th>
            <th class="headTable">桌次</th>
            <th class="headDelete">刪除</th>
          </tr>
        </thead>
  
        <tbody id="showList">
        </tbody>
  
      </table>
    </div>
    <div style="display: flex;justify-content:space-between">
      <button type="submit" class="btn btn-outline-warning add_btn" data-pos="addProductBtn">Add</button>
      <h3 style="color: darkred;">總金額:$<span class="totalAmount">--</span></h3>
    </div>
    <div style="display: flex;justify-content:flex-end;margin-bottom:20px;">
      <button type="submit" class="btn btn-outline-danger mt-3" id="checkout">Check</button>
    </div>
  </div>

  <div class="container orderListContainer">
    <div class="row mt-4">
      <h4 class="detail orderListDetail">未出餐明細</h4>
      <table class="table mt-3">
        <thead>
          <tr class="list" style="text-align: center;">
            <th class="orderHeadCheckbox">Check</th>
            <th class="orderHeadName">品名</th>
            <th class="orderHeadNumbers">數量</th>
            <th class="orderHeadAmount">金額</th>
            <th class="orderHeadTable">桌次</th>
            <th class="orderHeadDelete">刪除</th>
          </tr>
        </thead>
        <tbody id="showOrderList">
        </tbody>
      </table>
    </div>
  </div>

  <form action="/products/revenue">
    <div style="display: flex;justify-content:center;margin-bottom:20px;">
      <button type="submit" class="btn btn-outline-success mt-3" id="revenue">營收明細</button>
    </div>
  </form>
</div>

<script src="/javascript/main.js"></script>
