<div class="container">
  <div class="row mt-5 title">
    <h2>POS System</h2>
  </div>
  <div class="row addBtn">
    <form action="/products/new" method="get">
      <button type="submit" class="btn addBtn" style="border-radius: 10%; border:1px solid #f5f5f5;">
        <i class="fas fa-plus-square fa-lg"></i>
      </button>
    </form>
  </div>
  <div class="row">
    <h4>Cake</h4>
  </div>
  <div class="row mt-3 col-12" id="menu" data-toggle="buttons">
    {{#each cakeItem}}
    <div class="card mr-3 mb-3" style="width: 15rem;">
      <img src="{{this.url}}" class="card-img-top" alt="cake" style="display:block;margin:auto;max-height:90%;">
      <div style="display: flex;justify-content:flex-end;">
        <form action="/products/{{this._id}}/edit" method="get" style="margin: auto -20px;">
          <button type="submit" class="btn editBtn" style="border-radius:10%;">
            <i class="fas fa-edit"></i>
          </button>
        </form>
        <form action="/products/{{this._id}}/delete" method="POST">
          <button type="submit" class="btn deleteBtn" style="border-radius: 10%;">
            <i class="fas fa-trash-alt" style="padding-right: 8px;"></i>
          </button>
        </form>
      </div>
      <div class="card-body"
        style="display:flex;align-items:center;justify-content:space-around;padding:2px 8px 8px 8px;">
        <div class="btn-group btn-group-toggle" data-id="{{this._id}}">
          <label class="btn btn-outline-dark" style="border: none;width:120%;"><input type="radio" name="product"
              value="{{this.name}}" data-id="{{this._id}}">{{this.name}}</label>
        </div>
        <span class="text-center">${{this.amount}}</span>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="row mt-3">
    <h4>Drink</h4>
  </div>
  <div class="row mt-3 col-12" data-toggle="buttons">
    {{#each drinkItem}}
    <div class="card mr-3 mb-3" style="width: 15rem;">
      <img src="{{this.url}}" class="card-img-top" alt="cake" style="display:block;margin:auto;max-height:90%;">
      <div style="display: flex;justify-content:flex-end;">
        <form action="/products/{{this._id}}/edit" method="get" style="margin: auto -20px;">
          <button type="submit" class="btn editBtn" style="border-radius:10%;">
            <i class="fas fa-edit"></i>
          </button>
        </form>
        <form action="/products/{{this._id}}/delete" method="POST" style="display: flex;justify-content:flex-end;">
          <button type="submit" class="btn deleteBtn" style="border-radius: 10%;">
            <i class="fas fa-trash-alt" style="padding-right: 8px;"></i>
          </button>
        </form>
      </div>

      <div class="card-body"
        style="display:flex;align-items:center;justify-content:space-around;padding:2px 8px 8px 8px;">
        <div class="btn-group btn-group-toggle" data-id="{{this._id}}">
          <label class="btn btn-outline-dark" style="border: none;width:120%;"><input type="radio" name="product"
              value="{{this.name}}" data-id="{{this._id}}">{{this.name}}</label>
        </div>
        <span class="text-center">$ {{this.amount}}</span>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<div class="container" style="display:flex;">
  <div class="row">
    <h4 class="mt-2">桌次</h4>
    <section class="table mt-3">
      <div class="btn-group-toggle tableButtons" data-toggle="buttons">
        <label class="btn btn-outline-secondary mr-1 tableNumbers"><input type="radio" name="table" value="1"> 1</label>
        <label class="btn btn-outline-secondary mr-1 tableNumbers"><input type="radio" name="table" value="2"> 2</label>
        <label class="btn btn-outline-secondary mr-1 tableNumbers"><input type="radio" name="table" value="3"> 3</label>
        <label class="btn btn-outline-secondary mr-1 tableNumbers"><input type="radio" name="table" value="4"> 4</label>
        <label class="btn btn-outline-secondary mr-1 tableNumbers"><input type="radio" name="table" value="5"> 5</label>
        <label class="btn btn-outline-secondary mr-1 tableNumbers"><input type="radio" name="table" value="6"> 6</label>
      </div>
    </section>
  </div>
  <div class="row">
    <h4 class="mt-2">數量</h4>
    <section class="table mt-3">
      <div class="btn-group-toggle quantityButtons" data-toggle="buttons">
        <label class="btn btn-outline-info mr-1 quantityNumbers"><input type="radio" name="quantity" value="1">
          1</label>
        <label class="btn btn-outline-info mr-1 quantityNumbers"><input type="radio" name="quantity" value="2">
          2</label>
        <label class="btn btn-outline-info mr-1 quantityNumbers"><input type="radio" name="quantity" value="3">
          3</label>
        <label class="btn btn-outline-info mr-1 quantityNumbers"><input type="radio" name="quantity" value="4">
          4</label>
        <label class="btn btn-outline-info mr-1 quantityNumbers"><input type="radio" name="quantity" value="5">
          5</label>
        <label class="btn btn-outline-info mr-1 quantityNumbers"><input type="radio" name="quantity" value="6">
          6</label>
      </div>
    </section>
  </div>
</div>

<div class="container">
  <div class="row mt-4">
    <h4 class="detail">消費明細</h4>
    <table class="table mt-3">
      <thead>
        <tr class="list" style="text-align: center;">
          <th class="headCheckbox">Check</th>
          <th class="headName">品名</th>
          <th class="headNumbers">數量</th>
          <th class="headAmount">金額</th>
          <th class="headTable">桌次</th>
          <th class="headDelete">刪除</th>
        </tr>
      </thead>

      <tbody id="showList">
        {{!-- <tr style="text-align: center;">
          <td><input type="checkbox" name="item" id="item" style="width: 20px; height:20px;"></td>
          <td class="checkName">{{orderCakeName}}</td>
          <td class="checkNumbers">
            <i class="fa fa-plus-circle up fa-lg"></i>
            <i class="fa fa-minus-circle down fa-lg"></i>
          </td>
          <td class="checkTotal">{{this.name}}</td>
          <td class="checkAmount">${{orderAmount}}</td>
          <td class="checkTable">4</td>
        </tr> --}}
      </tbody>

    </table>
  </div>
  {{!-- <form action="/products/add" method="post"> --}}
    <div style="display: flex;justify-content:space-between">
      <button type="submit" class="btn btn-outline-warning" data-pos="addProductBtn">Add</button>
      <h3 style="color: darkred;">總金額:$<span class="totalAmount">--</span></h3>
    </div>
    {{!--
  </form> --}}
  {{!-- <form action="/products/checkout" method="get"> --}}
    <div style="display: flex;justify-content:flex-end">
      <button type="submit" class="btn btn-outline-danger mt-3" id="checkout">Check</button>
    </div>
    {{!--
  </form> --}}
</div>

<div class="container mt-5 mb-5" style="display: flex; justify-content:center;">
  <form action="/revenue" method="get">
    <button type="submit" class="btn btn-outline-success">營業額</button>
  </form>
</div>

<script>
  function Order(name, table, quantity) {
    this.name = name;
    this.table = table;
    this.quantity = quantity
  }

  Order.prototype.price = function () {
    switch (this.name) {
      case "鐵觀音巴斯克":
        return 180
      case "手沖咖啡":
        return 170
      case "綜合水果戚風":
        return 160
      case "焦糖烏龍戚風":
      case "紅茶香蕉巧克力戚風":
        return 150;
      case "紅豆抹茶捲":
      case "蜜瓜焙茶戚風":
      case "芝麻鳳梨四季春戚風":
        return 140;
      case "柚香氣泡飲":
      case "莓果氣泡飲":
        return 130
      case "百香檸檬糖霜蛋糕":
      case "鳳梨冰茶":
        return 120
      case "紅茶":
      case "綠茶":
        return 110
      default:
        alert('no this item')
    }
  }

  function POS() { }
  let newPos = new POS()

  let totalAmount = document.querySelector('.totalAmount')
  const addProductBtn = document.querySelector('[data-pos="addProductBtn"]')
  addProductBtn.addEventListener('click', function controller() {
    const name = newPos.getValue("product")
    const table = newPos.getValue("table")
    const quantity = newPos.getValue("quantity")
    if (!name || !quantity || !table) {
      alert('Please make sure your shopping list detailed')
      return
    }

    let order = new Order(name, table, quantity)
    newPos.controller(order)
    totalAmount.innerHTML = newPos.checkout()
  })


  POS.prototype.getValue = function (inputName) {
    let selectedOption = ''
    document.querySelectorAll(`input[name="${inputName}"]`).forEach(function (item) {
      if (item.checked) {
        selectedOption = item.value
      }
    })
    return selectedOption
  }

  const showList = document.querySelector('#showList')
  POS.prototype.controller = function (item) {
    let orderHTML =
      `
        <tr class="cartItem" style="text-align: center;">
          <td><input type="checkbox" name="item" id="item" style="width: 20px; height:20px;"></td>
          <td class="checkName">${item.name}</td>

          <td class="checkTotal">${item.quantity}</td>
          <td class="checkAmount" data-price>${item.price() * item.quantity}</td>
          <td class="checkTable">${item.table}</td>
          <td class="checkDelete btn"><i class="fas fa-trash-alt" data-delete="delete"></i></td>
        </tr>
    `
    showList.insertAdjacentHTML('beforeend', orderHTML)
  }

  showList.addEventListener('click', function (event) {
    // 刪除
    let isDeleteButton = event.target.matches('[data-delete="delete"]')
    if (isDeleteButton) {
      newPos.deleteOrder(event.target.parentElement.parentElement)
      totalAmount.innerHTML = newPos.checkout()
    }
  })

  POS.prototype.deleteOrder = function (target) {
    target.remove()
  }

  let checkoutBtn = document.querySelector('#checkout')
  // 結帳
  checkoutBtn.addEventListener('click', function (event) {
    alert(`total amount: ${newPos.checkout()}`)
    newPos.clearOrder(showList)
    totalAmount.innerHTML = newPos.checkout()
  })

  POS.prototype.checkout = function () {
    let total = 0
    document.querySelectorAll('.checkAmount').forEach(item => total += Number(item.innerText))
    return total
  }

  POS.prototype.clearOrder = function (target) {
    target.querySelectorAll('.cartItem').forEach(item => item.remove())
  }



</script>

{{!-- // 增修數量功能
if (event.target.matches('.fa-plus-circle')) {
let plusNumber = Number(event.target.parentElement.nextElementSibling.innerText) + 1
let total = Number(event.target.parentElement.nextElementSibling.nextElementSibling.innerText) * plusNumber

return event.target.parentElement.nextElementSibling.innerText = plusNumber

} else if (event.target.matches('.fa-minus-circle')) {
let minusNumber = Number(event.target.parentElement.nextElementSibling.innerText) - 1
if (minusNumber <= 0) { return } else { return event.target.parentElement.nextElementSibling.innerText=minusNumber } }
  --}} {{!-- <td class="checkNumbers">
  <i class="fa fa-plus-circle up fa-lg"></i>
  <i class="fa fa-minus-circle down fa-lg"></i>
  </td> --}}